@import url("./css/animation.css");
body {
  background-color: #111;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 0.5s ease;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Poppins", "Montserrat", sans-serif;
  transition: 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: #ddd;
}
